/src/*.suo
/src/PhotoTagManager/obj
/src/PhotoTagManager/bin
/src/Tagger.Engine/obj
/src/Tagger.Engine/bin
/src/Tagger.Engine.Test/bin
/src/Tagger.Engine.Test/obj

/src/*.sdf
/src/BeaverSoft.Common
/src/TestResults/5bb2820f-00cf-4d79-ac9e-398a34ebd444
/src/Test/EngineTests/bin/Debug
/src/Test/EngineTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/Test/EngineTests/obj/Debug/EngineTests.csproj.FileListAbsolute.txt
/src/Test/EngineTests/obj/Debug/EngineTests.csprojResolveAssemblyReference.cache
/src/Test/EngineTests/obj/Debug/EngineTests.dll
/src/Test/EngineTests/obj/Debug/EngineTests.pdb
